@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=IBM+Plex+Sans:wght@400;600;700&display=swap");

:root {
  --portfolio-background-color-main: #01031a;
  --portfolio-background-color-secondary: #020626;
  --portfolio-background-color-tertiary: #02072e;
  --portfolio-text-heading-color-one: #e5e5ff;
  --portfolio-text-secondary-color-heading: #cfcfe5;
  --portfolio-text-sub-headers-color: #e2e2fa;
  --portfolio-text-body-color: #dadaf2;
  --portfolio-text-secondary-information-color: #dadaf2;
  --portfolio-text-label-color: #dadaf2;
  --portfolio-text-highlight-color: #2ff2f0;
  --portfolio-text-neutral-color: #fafaff;
  --portfolio-border-color-10per: rgba(47, 242, 240, 10%);
  --portfolio-border-color-20per: rgba(47, 242, 240, 20%);
  --portfolio-text-desktop-heading-one-size: 65px;
  --portfolio-text-desktop-secondary-header-size: 45px;
  --portfolio-text-desktop-sub-header-two: 32px;
  --portfolio-text-desktop-sub-header-three: 26px;
  --portfolio-text-desktop-body-size: 24px;
  --portfolio-text-desktop-sec-info-size: 22px;
  --portfolio-text-desktop-label-size: 18px;
  --portfolio-text-mobile-heading-one-size: 36px;
  --portfolio-text-mobile-secondary-header-size: 31px;
  --portfolio-text-mobile-sub-header-two: 24px;
  --portfolio-text-mobile-sub-header-three: 22px;
  --portfolio-text-mobile-body-size: 20px;
  --portfolio-text-mobile-sec-info-size: 18px;
  --portfolio-text-mobile-label-size: 16px;
  --portfolio-text-chakraPetch: Chakra Petch, sans-serif;
  --portfolio-text-ibmPlexSans: IBM Plex Sans, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--portfolio-background-color-main);
  max-width: 100vw;
  color: var(--portfolio-text-body-color);
  font-family: var(--portfolio-text-ibmPlexSans);
  font-size: var(--portfolio-text-desktop-body-size);
}

h1,
h2,
h3,
strong,
label {
  font-family: var(--portfolio-text-chakraPetch);
}

h1 {
  font-size: var(--portfolio-text-desktop-heading-one-size);
  color: var(--portfolio-text-heading-color-one);
}

h2 {
  font-size: var(--portfolio-text-desktop-sub-header-two);
  color: var(--portfolio-text-sub-headers-color);
}

h3 {
  font-size: var(--portfolio-text-desktop-sub-header-three);
  color: var(--portfolio-text-sub-headers-color);
}

@media (width < 881px) {
  html,
  body {
    font-size: var(--portfolio-text-mobile-body-size);
  }

  h1 {
    font-size: var(--portfolio-text-mobile-heading-one-size);
  }

  h2 {
    font-size: var(--portfolio-text-mobile-sub-header-two);
  }

  h3 {
    font-size: var(--portfolio-text-mobile-sub-header-three);
  }
}
