.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 90vh;
}

.info {
  max-width: 871px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -8.5%;
  z-index: 1;
}

.container .info small {
  font-size: var(--portfolio-text-desktop-label-size);
  color: var(--portfolio-text-label-color);
  margin: 12px 0 4px;
  font-family: var(--portfolio-text-chakraPetch);
  font-weight: 600;
}

.container .info .heroHeading {
  font-size: var(--portfolio-text-desktop-heading-one-size);
  color: var(--portfolio-text-heading-color-one);
  text-align: center;
  line-height: 1.2;
}

.container .info .heroHeading span {
  color: var(--portfolio-text-highlight-color);
}

.container .info .description {
  font-size: var(--portfolio-text-desktop-body-size);
  color: var(--portfolio-text-body-color);
  text-align: center;
  margin: 4px 0 0;
  max-width: 756px;
  line-height: 1.2;
}
