.scrollIcon {
  margin-top: auto;
  text-align: center;
  font-size: 14px;
  font-family: var(--portfolio-text-chakraPetch);
  cursor: pointer;
}

.scrollIcon .mouseLine {
  display: block;
  transition: transform 250ms ease-in;
}

.scrollIcon:hover .mouseLine {
  transform: translateY(2.5px);
}

.scrollIcon p {
  margin-top: 4px;
}
